html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

:global(.sbdocs-wrapper) {
  min-height: 100vh;
  box-sizing: border-box;
}

/* Стили якорей */
:global {
  .sbdocs-h1,
  .sbdocs-h2,
  .sbdocs-h3,
  .sbdocs-h4,
  .sbdocs-h5,
  .sbdocs-h6 {
    & > a {
      color: inherit;

      & > svg {
        fill: currentColor;
      }
    }
  }
}
